* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(../imagens/23869881_6857762.jpg);
    background-position: left bottom;
    background-attachment: fixed;
    transition-duration: .9s;
    height: 100vh;
}

.designer-imagem {

    max-width: 80px;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: .8px solid white;
    margin: auto;
    display: flex;
}

/* Rest of your styles here */


/* Rest of your styles here */


body, html {
    transition-duration: .9s;
    height: 100vh;
    width: 50vw;


}









